@model Web.Models.SignUpViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SocialV | Responsive Bootstrap 4 Admin Dashboard Template</title>

    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/assets/css/libs.min.css">
    <link rel="stylesheet" href="~/assets/css/socialv.css?v=4.0.0">
    <link rel="stylesheet" href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="~/assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">

</head>
<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->

    <div class="wrapper">
        <section class="sign-in-page">
            <div id="container-inside">
                <div id="circle-small"></div>
                <div id="circle-medium"></div>
                <div id="circle-large"></div>
                <div id="circle-xlarge"></div>
                <div id="circle-xxlarge"></div>
            </div>
            <div class="container p-0">
                <div class="row no-gutters">
                    <div class="col-md-6 text-center pt-5">
                        <div class="sign-in-detail text-white">
                            <a class="sign-in-logo mb-5" href="#"><img src="~/assets/images/logo-full.png" class="img-fluid" alt="logo"></a>
                            <div class="sign-slider overflow-hidden ">
                                <ul class="swiper-wrapper list-inline m-0 p-0 ">
                                    <li class="swiper-slide">
                                        <img src="~/assets/images/login/1.png" class="img-fluid mb-4" alt="logo">
                                        <h4 class="mb-1 text-white">Find new amigos</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                    </li>
                                    <li class="swiper-slide">
                                        <img src="~/assets/images/login/2.png" class="img-fluid mb-4" alt="logo">
                                        <h4 class="mb-1 text-white">Connect with the world</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                    </li>
                                    <li class="swiper-slide">
                                        <img src="~/assets/images/login/3.png" class="img-fluid mb-4" alt="logo">
                                        <h4 class="mb-1 text-white">Create new events</h4>
                                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
                        <div class="sign-in-from">
                            <h1 class="mb-0">Sign Up</h1>
                            <p>Enter your email address and password to access admin panel.</p>

                            @if (ViewBag.Erro != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Erro</div>
                            }

                            @if (TempData["Mensagem"] != null)
                            {
                                <div class="alert alert-success">@TempData["Mensagem"]</div>
                            }

                            <form class="mt-4" asp-controller="Login" asp-action="SignUp" method="post">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Username">Nome de usuário</label>
                                    <input class="form-control mb-0" asp-for="Username" placeholder="Your Full Name" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Email">Endereço de Email</label>
                                    <input class="form-control mb-0" asp-for="Email" placeholder="Enter email" type="email" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Senha">Senha</label>
                                    <input class="form-control mb-0" asp-for="Senha" placeholder="Password" type="password" />
                                </div>

                                <div class="form-group">
                                    <label class="form-label" asp-for="NomeCompleto">Nome Completo</label>
                                    <input class="form-control mb-0" asp-for="NomeCompleto" placeholder="Full name" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Telefone">Telefone</label>
                                    <input class="form-control mb-0" asp-for="Telefone" placeholder="Phone number" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Genero">Gênero</label>
                                    <input class="form-control mb-0" asp-for="Genero" placeholder="Ex: M ou F" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Descricao">Descrição</label>
                                    <textarea class="form-control mb-0" asp-for="Descricao" placeholder="Say something about yourself"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="Foto">URL da Foto</label>
                                    <input class="form-control mb-0" asp-for="Foto" placeholder="https://...jpg" />
                                </div>

                                <div class="d-inline-block w-100">
                                    <div class="form-check d-inline-block mt-2 pt-1">
                                        <input type="checkbox" class="form-check-input" id="customCheck1" required />
                                        <label class="form-check-label" for="customCheck1">I accept <a href="#">Termos e condições</a></label>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-end">Registrar-se</button>
                                </div>
                                <div class="sign-info">
                                    <span class="dark-color d-inline-block line-height-2">
                                        Já tem uma conta?
                                        <a asp-controller="Login" asp-action="SignIn">Conectar-se</a>
                                        <br />
                                    </span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>
    
    <!-- Backend Bundle JavaScript -->
    <script src="~/assets/js/libs.min.js"></script>
    <!-- slider JavaScript -->
    <script src="~/assets/js/slider.js"></script>
    <!-- masonry JavaScript -->
    <script src="~/assets/js/masonry.pkgd.min.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="~/assets/js/enchanter.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="~/assets/js/sweetalert.js"></script>
    <!-- app JavaScript -->
    <script src="~/assets/js/charts/weather-chart.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
    <script src="~/assets/js/lottie.js"></script>
